.formulario{
    
    width: 700px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    display: flex;
}

.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    padding-top: 5px;
}

input {
    width: 75%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}


.radioContainer {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}
  

button{
    border-radius: 25px;
    width: 150px;
    height: 50px;
    background-color: rgb(36, 107, 189);
    color: black;
}