.formulario{
    border: 1px solid black;
    width: 300px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.campo {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

https://www.figma.com/file/kzDaur0WDLjMk3jdzze1Sk/Untitled?type=design&node-id=0-1&mode=design